@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    padding: 0px;
    margin: 0px;
}

/* CONFIGURAÇÃO DO HEADER */

html, body{
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 8vw;
}

header > p {
    padding-bottom: 50px;
    font-size: 2vw;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

/*CONFIGURAÇÃO DAS SECTIONS*/

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 2.5vw;
}



section.normal{
    background-color: #fdf0de;
    color: black;
    /*box-shadow: inset rgb(0 0 0 / 68%) 0px 9px 20px*/ 
}

section.normal > p{
    padding: 10px;
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgb(0 0 0 / 47%);
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.514);
    width: fit-content;
    padding: 10px;
    text-shadow: 1px 1px 0px black;
    
}

section#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section#img02{
    background-image: url(../imagens/background002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/*CONFIGURAÇÃO DO RODAPÉ*/

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 1.1vw;
}